@use "../abstracts" as *;

.experience {
    text-align: center;
    padding-top: 5.75rem;
    padding-bottom: 4.5rem;
    background-image: linear-gradient(
            to bottom,
            hsl(192, 37%, 48%, 0.9),
            hsl(192, 37%, 48%, 0.9)
        ),
        url("assets/mobile/image-footer.jpg");
    background-position: center;
    background-size: cover;

    @include breakpoint(tablet) {
        padding-bottom: 4rem;
        background-image: linear-gradient(
                to bottom,
                hsl(192, 37%, 48%, 0.9),
                hsl(192, 37%, 48%, 0.9)
            ),
            url("assets/tablet/image-footer.jpg");
    }

    @include breakpoint(desktop) {
        background-image: linear-gradient(
                to bottom,
                hsl(192, 37%, 48%, 0.9),
                hsl(192, 37%, 48%, 0.9)
            ),
            url("assets/desktop/image-footer.jpg");
    }
}
