@use "../abstracts" as *;

.img-grid {
    display: grid;
    gap: 11px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    padding-inline: 1.5rem;

    img {
        border-radius: 8px;
    }

    @include breakpoint(tablet) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint(desktop) {
        gap: 30px;
    }
}
