@use "../abstracts" as *;

.numbering__vertical-line {
    border-left: 1px solid hsla(var(--clr-neutral-400-hsl), 0.25);
    height: 84px;
    width: 1px;
}

.numbering__section-number {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    border: 1px solid hsla(var(--clr-neutral-400-hsl), 0.25);
    background-color: var(--clr-neutral-200);
    font-weight: 900;
    font-size: 1rem;
}

.numbering[data-position="low"] {
    margin-bottom: -1.75rem;
}
