$colors: (
    primary: (
        200: hsl(192, 90%, 77%),
        300: hsl(192, 54%, 64%),
        400: hsl(192, 37%, 48%),
    ),
    accent: (
        200: hsl(268, 100%, 86%),
        300: hsl(268, 55%, 71%),
        400: hsl(268, 34%, 53%),
    ),
    neutral: (
        200: hsl(0, 0%, 98%),
        400: hsl(240, 10%, 57%),
        700: hsl(240, 21%, 20%),
    ),
);

$colors-hsl: (
    primary: (
        200: "192, 90%, 77%",
        300: "192, 54%, 64%",
        400: "192, 37%, 48%",
    ),
    accent: (
        200: "268, 100%, 86%",
        300: "268, 55%, 71%",
        400: "268, 34%, 53%",
    ),
    neutral: (
        200: "0, 0%, 98%",
        400: "240, 10%, 57%",
        700: "240, 21%, 20%",
    ),
);
