$type-scale: (
    small: (
        400: 1rem,
        500: 2rem,
        600: 2.5rem,
    ),
    medium: (
        400: 1.125rem,
        500: 2.5rem,
        600: 3rem,
    ),
    large: (
        400: 1.125rem,
        500: 2.5rem,
        600: 4rem,
    ),
);
